.fmain {
  background-color: rgba(20, 39, 60, 0.973);
  display: flex;
  width: 100%;
  height: 50vh;
  //   align-items: center;
  padding-top: 60px;
  margin: auto;
  justify-content: space-evenly;
  gap: 50px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  .d1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .wht {
      color: rgb(191, 188, 188);
    }

    .d1head {
      font-size: 27px;
    }
  }
  .icon {
    margin-top: 110px;
    align-items: center;
  }
}
